---
# default "About" page layout
layout: default
---
<div class="container my-4 about-contents">
<h3>About the Database</h3>
<p>The Choral Music Theory Database aims to make it easier for music theorists to find examples of choral music to teach in their classroom. Many students in music theory classrooms around the country are either studying to become choral educators or sing in choirs, and it is important for them to be able to engage with music theory in the context of their own repertoire. The focus of the database is on choral music composed in the last 100 years, as choral music is an especially diverse music and provides an authentic way to diversify curriculum. This project, funded by a Summer Arts Research Grant from Utah State University, began in the summer of 2023 and remains a growing collection.</p>

  
</div>
